@page "/api/Carritos"
@inject IHttpServicio http

<h3>Lista Carrito</h3>
<br />
<a class="btn btn-primary mb-3" href="/api/Carritos/crear">Nuevo carrito</a>
<br />

<!-- Estilos de la tabla con clases de Bootstrap -->
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>UsuarioId</th>
            <th>OrdenId</th>
            <th>Cantidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Mensaje == "")
        {
            @if (listaCarritos == null)
            {
                <tr>
                    <td colspan="4" class="text-center">Buscando....</td>
                </tr>
            }
            else if (listaCarritos.Count == 0)
            {
                <tr>
                    <td colspan="4" class="text-center">No existen los productos en el carrito</td>
                </tr>
            }
            else
            {
                @foreach (var item in listaCarritos)
                {
                    <tr>
                        <td>@item.UsuarioId</td>
                        <td>@item.OrdenId</td>
                        <td>@item.Cantidad</td>
                        <td>
                            <!-- Botón de Editar -->
                            <a class="btn btn-primary btn-sm me-2"
                               href="api/Carritos/editar/@item.Id">
                                Editar
                            </a>
                            <!-- Botón de Borrar -->
                            <button class="btn btn-danger btn-sm"
                                    @onclick="() => Eliminar(item)">
                                Borrar
                            </button>
                        </td>
                    </tr>
                }
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center text-danger">Error: @Mensaje</td>
            </tr>
        }
    </tbody>
</table>


<Confirmacion @ref="confirmacion"
              Titulo="CUIDADO"
              textCancelar="Salir"
              onCancel="Cancelar"
              onConfirm="Borrar">
              <h5>Está por borrar el carrito</h5>
              <br />
              <p>Está seguro?</p>
</Confirmacion>

@code {
    Confirmacion  confirmacion;

    List<Carrito> listaCarritos;
    Carrito producto1;
    string Mensaje = "";

    Carrito? CarBorrar = null;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Leer();
    }

    private async Task Leer()
    {
        var resp = await http.Get<List<Carrito>>("api/Carritos");
        if (!resp.Error)
        {
            listaCarritos = resp.Respuesta;
        }
        else
        {
            Mensaje = await resp.ObtenerError();
        }
    }

    private async Task Eliminar(Carrito carrito)
    {
        CarBorrar = carrito;
        confirmacion.Ver();
    }

    private void Cancelar()
    {
        confirmacion.Ocultar();
        CarBorrar = null;
    }

    private async Task Borrar()
    {
        var respuesta = await http.Delete($"api/Carritos/{CarBorrar.Id}");
        if (respuesta.Error)
        {
            var body = "No se pudo borrar";
        }
        Cancelar();
        await Leer();
    }
}
